export GC_MEMBER_ID=2150973
export GC_USERNAME=366
export GC_PASSWORD=99X0Gw0XpI0C
export GOLF_BASE_PATH="https://www.nswgolfclub.com.au"

export RIDGE_MEMBER_ID=3691
export RIDGE_USERNAME=3691
export RIDGE_PASSWORD=Letsplaygolf4$s

export PORT=8080
