.wrapper {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: var(--space-gutter);
}

.repel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: var(--repel-alignment, center);
    gap: var(--space-gutter, var(--space-s-m));
}

.repel[data-repel-variant="vertical"] {
    --repel-alignment: stretch;
    flex-direction: column;
}
