.card {
    --card-background: #fff;
    --card-border-: var(--card-border);
    --card-border-width: 1px;
    --card-border-color: #e0e0e0;
    --card-border-style: solid;
    --card-padding: var(--space-s);

    background: var(--card-background);
    border-color: var(--card-border-color);
    border-style: var(--card-border-style);
    border-width: var(--card-border-width);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
}
