.show-event {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }

    .card:hover {
        --card-background: color-mix(in srgb, #fff, black 8%);
        transform: scale(1.01);
    }

    h3 {
        line-height: 1;
        margin-top: 0;
    }

    dl {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: var(--space-gutter);

        & > div {
            grid-column: span 2;
            display: grid;
            grid-template-columns: subgrid;

            dt {
                font-weight: var(--font-weight-medium);
            }
        }
    }
}

.event-details {
    --grid-min-item-size: var(--space-3xl);

    dt {
        font-weight: bold;
        font-size: var(--step--1);
    }

    dd {
        margin-inline-start: 0;
        font-weight: 200;
    }
}

.booking-group-wrapper {
    --grid-min-item-size: 10rem;
    --gutter: 1rem;
}

.booking-group {
    display: flex;
    color: var(--color-dark);
    gap: var(--space-gutter);
    align-items: center;
    justify-items: space-between;
    text-decoration: none;
    --grid-min-item-size: var(--space-3xl);

    &[data-full] {
        background-color: color-mix(in srgb, #fff, black 8%);
        color: color-mix(in srgb, var(--color-dark), white 50%);
    }

    h4 {
        margin-top: 0;
    }
}

.booking-group__info {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-gutter);
    align-items: center;
    flex-grow: 1;
}

.booking-group__entries {
    font-size: var(--step--1);
}

.booking-group__entry {
    h3 {
        margin-top: 0;
        font-size: var(--step-0);
        font-weight: 500;
    }

    p {
        margin-top: 0;
        font-size: var(--step--1);
    }
}
